*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    border: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container{

}
